function fillForm() {
  const message = document.getElementById('message_content');
  const container = document.querySelectorAll('.outgoing_msg');
  const lastMsg = container[container.length - 1]
  const html = `<div class="outgoing_msg">
                  <div class="sent_msg">
                    <p> ${message.value} </p>
                    <span class="time_date"> ${currentTime()}    |     ${currentDate()} </span>
                  </div>
                </div>`


lastMsg.insertAdjacentHTML('afterend', html);
message.value = "";
}
fillForm();
