// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$dark-grey: #454545;
$dark-blue: #1B3E4B;
$main-blue: #4095A6;
$seafoam: #84CFCF;
$light-blue: #C6F7F7;
