

.sidebar {
  width: 60%;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
 // not responsive, need to change!
  margin-left: 30%;
  display: flex;
  flex-direction: column;
}


.sidebar-top {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.dash-photo {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid #fff;
  object-fit: cover;
}

.dash-name {
  margin-top: 15px;
}

.sidebar-bottom {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.dash-content {
  width: 90%;
  height: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}



.dash-tabs  {
     width: 100%;
}

.dash-tabs.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white;
    background-color: $main-blue;
    text-align: center;
    width: 100%;
}

.dash-tabs.nav-pills .nav-link, .nav-pills .show > .nav-link {
    text-align: center;
}

.dash-tabs.nav-pills .nav-item  {
    padding-right: 0px;
}


.dash-tabs.nav-pills .nav-link  {
    color: $dark-grey;
    background-color: white;
    font-size: 18px;
}

.nav-pills .nav-link {
    color: #454545;
    font-size: 18px;
}


.dash-event-side-tabs .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: $main-blue;
    font-size: 18px;
    background-color: $light-gray;
    text-align: center;
}

.fade.event-dashboard:not(.show) {
  display: none;
}


.event.card {
  border: none;
  overflow: scroll;
  height: 470px;
}


.hub-dash-content.dash-card-body {
  margin-top: 100px;
}

.request.card {
  border: none;
  overflow: scroll;
  height: 520px;
}


.hub-dash.card {
  border: none;
}


.friend.card {
  border: none;
  padding-top: 10px;
  overflow: scroll;
  height: 520px;
}

.trash {
  color: #333;
  padding-right: 5px;
}

.trash:hover {
  color: #999;
}

.card-button a:hover h1 {
  border-bottom: 2px solid white;
}

.req-title {
  margin-top: 23px;
}


.interest-design.card {
  margin-top: 13px;
  border: 1px solid transparent;
}

