
.fas {
    margin-left: 70px;
    margin-top: 15px;
  }

.event.container {
  background-color: white;
  min-height: 750px;
  min-width: 75%;
  border-radius: 20px;
  margin-bottom: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.event-photo-show {
  display: flex;
  align-items: center;
}

.event-info-show {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.event-title {
  color: $main-blue !important;
  text-align: center;
  margin-top: 10px;
}

.event-avatar-name {
  margin-bottom: 20px;
  font-size: 20px;
}

.event-booking {
  height: 52px;
}

.event-image{
  border-radius: 30px;
}

.event-image img{
  border-radius: 30px;
  box-shadow: 2px 4px 4px gray;
}

.event-description {
  height: 405px;
  overflow: scroll;
  padding: 5px;
  margin-top: -100px
}

.event-info {
  border-radius: 30px;
}

.card-event {
  border-radius: 30px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  // box-shadow: 2px 4px 4px gray;
}

.time {
  margin-right: 0;
  margin-left:  0;
}

#event-modal {
  border-radius: 20px;
}

.back-arrow {
  color: #4095A6;
}

.avatars-attending {
  margin-top: 10px;
  margin-bottom: 20px;
}
