.event-title {
  color: $main-blue !important;
  text-align: center;
}

.event-booking {
  height: 52px;
}

.event-image{
  border-radius: 30px;
}

.event-image img{
  border-radius: 30px;
  box-shadow: 2px 4px 10px gray;
}

.event-description {
  height: 300px;
  overflow: scroll;
  padding: 5px;
}

.event-info {
  border-radius: 30px;
}

.card-event {
  border-radius: 30px;
  box-shadow: 2px 4px 10px gray;
}
