

.hub-container {
  min-height: 210vh;
}



.hub-users-title {
  color: black;
  background: white;
  border-radius: 50px;
  padding: 22px 9px;
  // display: flex;
  // align-items: center;
  text-align: right;
  margin-left: -207px;
  margin-top: 30px;
  width: 500px;
  height: 80px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);


}

.hub-users-title h2 {
    margin-left: 70px;
    padding-right: 75px;
    letter-spacing: 3px;
}


.card-category .hub-show {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}



.hub-name-show {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}




.hub-desc-show {
  font-size: 18px;
}


.hub-profile-cards {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    margin-top: 20px !important;
    margin-bottom: 40px;
}

.hub-profile-cards::-webkit-scrollbar {
    -webkit-appearance: none;
}


.hub-profile-cards::-webkit-scrollbar:horizontal {
    height: 11px;
}

.hub-profile-cards::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid transparent; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .1);
}



.btn-sm-connected-white {
  color: $main-blue;
  background: white;
  border: 2px solid transparent;
  border-radius: 50px;
  padding: 7px 0px;
  display: block;
  text-align: center;
  width: 87px;
  font-size: 13px;
  font-weight: 500;
}

.btn-sm-connected-white:hover {
  color: $main-blue;
  background: white;
  border: 2px solid transparent;
  border-radius: 50px;
  padding: 7px 0px;
  display: block;
  text-align: center;
  width: 87px;
  font-size: 13px;
  font-weight: 500;
}





.event-box-content {
  height: 900px;
  overflow: scroll;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 50px;
}

.studio-box-content {
  height: 900px;
  overflow: scroll;
  padding-top: 25px;
}

.studio-cards.tab-content > .active {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#new_message textarea {
  width: 100% !important;
}





.card-product-hub {
  overflow: hidden;
  height: 180px;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.125) ;
  display: flex;
  border-radius: 20px;
  align-items: center;
  max-width: 650px;
  margin-bottom: 20px;
  // margin-left-right: auto;
}

.card-product-hub img {
  height: 100%;
  width: 30%;
  object-fit: cover;
}

.card-product-hub h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
}

.card-product-hub p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 20px;
}

.card-product-hub .card-product-hub-infos {
  padding: 16px;
}


.hub-box-title {
  margin-bottom: 60px;
  letter-spacing: 3px;
}

.hub-event-title {
  a {
    color: $main-blue !important;
  }
  a:hover {
    color: $seafoam !important;
  }
}


.studio-title-top {
    margin-bottom: 41px;
    margin-top: 20px;
    letter-spacing: 3px;
}

.studio-tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}


.studio-tabs .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #4095A6;
    background-color: transparent;
    h5 {
    font-weight: bolder;
  }

}

.studio-tabs .nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link a {
    color: $dark-grey;
    background-color: transparent;

}



.studio {
  border-radius: 20px;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}














.info-card {
  // float: left;
  margin-left: 40px;
  -webkit-perspective: 600px;
  margin-bottom: 30px;
}

.front, .back {
  background: #FFF;
  border-radius: 20px;
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  width: 320px;
  // border: 1px solid black;
}

.front {
  // overflow: hidden;
  // width: 300px;
  // height: 200px;
  position: absolute;
  z-index: 1;

}

.front-card {
  height: 300px !important;
  border-radius: 20px;
  text-align: center;
}

.back {
  // width: 300px;
  // height: 200px;
  -webkit-transform: rotateY(-180deg);

  // overflow: scroll;
}

.back-card {
  height: 280px !important;
    border-radius: 20px;

}

.back-card-body {
  padding: 20px;
    display: flex;
  flex-direction: column;
}

.back-card-title {
  text-align: center;

}

.back-card-info {
  font-size: 13px;

}

.info-card:hover .back {
  -webkit-transform: rotateY(0);
}

.info-card:hover .front {
  -webkit-transform: rotateY(180deg);
}

.card-img-top {
width: 320px;
height: 220px;
}

.studio-name-front {
  height: 80px !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
}


.hub-events  {
  border-radius: 20px;
  padding: 69px;
  min-height: 900px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);

}


.studio-events {
  border-radius: 20px;
  padding: 50px;
  min-height: 900px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  margin-bottom: 20px;
  padding-bottom: 38px;
}


#create-event-btn {
  position: absolute;
}

.event_photo {
  margin-right: -250px;
}

.same-row {
  width: 48%;
}

.teach-prof.card-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
}

#word {
  margin-top: 0;
  margin-bottom: 0;
}

.icon {
  line-height: 1.5;
  margin-right: 3px;
}
