
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.125) ;
  display: flex;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 20px;
  max-width: 650px;
}

.card-product img {
  height: 100%;
  width: 30%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  a {
    color: $main-blue !important;
  }
  a:hover {
    color: $seafoam !important;
  }
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
