// function booked(){
//     var elem = document.querySelector(".book");
//     if (elem.value == "Book a space") {
//       elem.value = '';
//     } else {
//       elem.value = "Book a space";
//     }
// }


// document.querySelector(".book").remove()
//document.querySelector("#new_event_booking").insertAdjacentHTML("afterbegin", '<h1>Booked</h1>')
document.querySelector("#new_event_booking").innerHTML ='<%= link_to "#", class:"btn btn-md-blue text-center mx-auto" do %><div class="d-flex justify-content-center"><i class="fa fa-check icon" aria-hidden="true"></i><p id="word">  Booked </p></div><% end %>'


