<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center banner-items">
        <%= image_tag 'omline_blue_logo.png', :width => 600, class:"img-fluid" %>
        <h2 class = "tagline">The network where yogis namastay connected.</h2>
        <div class = "banner-btn"><%= link_to "Explore", hubs_path, class:"btn-lg-white" %></div>
      </div>
    </div>
  </div>
</header>
<br>
