.page-footer {
  background: white;
  color: $main-blue;
  padding-bottom:10px;
}

.footer-links a {
  color: $main-blue;
  text-decoration: none;
  font-size: 25px;
  padding: 0px 10px;
}

.contact-info  {
    display: flex;
    justify-content: center;

 }

.footer-copyright {
  background: $light-gray;
}

#sticky-footer {
  position: sticky;
}

.contact-info-items{
  text-align:left;

}
