.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  margin-left: 15px;
}

.navbar-icons {
  display: flex;
  margin-right: 35px;
}

.navbar-icons .navbar-collapse{
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}


.navbar-lewagon .nav-link img:hover {
  opacity: .7;
}

